@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');


body {
  margin: 0; /* Відміна відступів за замовчуванням */
  padding: 0; /* Відміна відступів за замовчуванням */
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex; /* Використання flexbox для центрирування */
  justify-content: center; /* Горизонтальне центрирування */
  align-items: center; /* Вертикальне центрирування */
  height: 100vh; /* Висота body на всю висоту вікна */
}
h1, h2 {
  text-align: center;
  color: #333;
  margin: 0;
}
a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
